@charset "UTF-8";

.product__wrap{
	padding:80px 0 160px;
	box-sizing: border-box;
	transition: padding 0.3s
}

.product__tit{
	margin-bottom: 40px
}

.product-info__grid{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap:40px;
	padding-bottom: 60px
}

.product-info__img-wrap{
	text-align: center;
}

.product-info__img{
	position: relative;
	max-width: 400px;
	max-height: 400px;
	background-color: var(--color-primary-05);
	border-radius: 200px
}

.product-info__img-sub{
	position: absolute;
	right: -60px;
	bottom: -60px;
	max-width: 200px;
	max-height: 200px;
	transition: 0.3s
}

.product-info__item:last-child{
	display: flex;
	flex-direction: column;
	gap:20px;
}

.product-info__txt>span{
	display: contents;
}

.product-prcs__bg{
	margin: max(64px, min(12vw, 160px)) 0;
	padding:80px 0;
	box-sizing: border-box;
	background-color: var(--color-primary-05)
}

.product-prcs__tit{
	text-align: center
}

.product-prcs__grid{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	justify-items: center;
	gap:40px;
	margin-top: 40px
}

.product-prcs__item{
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	max-width: 180px;
	max-height: 180px;
	border-radius: 100px;
	background-color: var(--color-gray-00)
}

.product-prcs__item-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center
}

.product-prcs__item-ico{
	margin:4px 0 12px
}

.poduct-item__wrap{
}

.poduct-item__grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap:40px;
	text-align: center;
}

.poduct-item__label{
	margin-bottom: 4px
}

.poduct-item__tit{
	margin-bottom: 20px
}

.poduct-item__txt{
	color: var(--color-gray-80);
}

.poduct-item__img{
	margin-top: 20px;
	width: 100%;
	border-radius: 12px;
	padding:25px;
	box-sizing: border-box;
	background-color: var(--color-gray-05)
}


.scroll-wrap{
	overflow: hidden
}

.product-txt__scroll, .prcs__scroll-txt, .prcs__scroll{
	opacity: 0;
	transform: translateY(100%);
	transition: transform 1s
}

.item__scroll{
	opacity: 0;
	transform: translateY(50%);
	transition: transform 1s
}

.product__tit, .product-info__img{
	opacity: 0;
	transition: 2s
}

@media all and (max-width:1320px){
	.product-prcs__grid{
		grid-template-columns: repeat(3,1fr)
	}

	.product-prcs__item{
		max-width: inherit;
		border-radius: 12px
	}
}

@media all and (max-width:1024px){
	.product-info__grid{
		gap:64px;
		grid-template-columns: repeat(1,1fr)
	}

	.product-info__img{
		margin: 0 auto
	}

	.product-info__img-sub{
		position: absolute;
		right: -30px;
		bottom: -30px;
		max-width: 150px;
		max-height: 150px
	}

	.product-prcs__grid{
		grid-template-columns: repeat(2,1fr);
		gap:20px
	}

	.poduct-item__grid{
		gap:20px
	}
}

@media all and (max-width:768px){
	.product__wrap{
		padding:40px 0 80px
	}

	.product-info__img-sub{
		position: absolute;
		right: -10px;
		bottom: -10px;
		max-width: 100px;
		max-height: 100px
	}

	.product-prcs__grid{
		margin-top: 20px
	}

	.poduct-item__grid{
		grid-template-columns: repeat(1,1fr);
		gap: 40px;
	}
}

@media all and (max-width:400px){
	.product-prcs__grid{
		grid-template-columns: repeat(1,1fr)
	}
}